/.idea/.idea.Productivity/.idea/misc.xml
/.idea/.idea.Productivity/.idea/dictionaries/Johnathon.xml
/.idea/.idea.Productivity/.idea/encodings.xml
/.idea/.idea.Productivity/.idea/indexLayout.xml
/.idea/.idea.Productivity/riderModule.iml
/.idea/.idea.Productivity/.idea/vcs.xml
/*/obj/
/*/bin/